@charset "utf-8";
html{font-size: 100px; overflow:auto;}
body{font:0.14rem/1 "Microsoft Yahei" !important;font-weight:lighter;color:#333; -webkit-font-smoothing: antialiased;background: #f2f2f2; }
a{color:#333; text-decoration:none; cursor:pointer; outline: 0 none;}
a:hover{ text-decoration:none;}
a:focus{-moz-outline-style:none; border:0px;blr:expression(this.onFocus=this.blur());}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,p,blockquote,th,td{margin:0; padding:0;}
header,footer,article,aside,section,nav,menu,hgroup,details,dialog,figure,figcaption{display:block}
ol,li,ul,dl,dt,dd{list-style:none;}
fieldset,img {border:0}
button,submit,input,select { vertical-align:middle;}
button,submit { cursor:pointer;}
h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight:lighter;}
table{border-collapse:collapse; border-spacing:0;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
select,button{font-family:inherit; font-size:inherit; font-weight:inherit; outline-style:none; outline-width:0pt; padding: 0; margin: 0;}
b,em,i{display:inline-block; font-weight:normal; font-style:normal;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;} .clearfix{ zoom:1;}
.container { width:1200px; position:relative; margin:0 auto;}
.fl{float:left;}
.fr{float:right;}
input,button{outline: none; border: none;}
* {-webkit-tap-highlight-color:rgba(0,0,0,0);}
html,body {
    height: 100%;
    background-color: #fff;
}
.wrap {
    position: relative;
}
.wrap.qy .bgTop {
    height: 0.5rem;
    background: #FEE8D3 url(../img/qy_top.png) no-repeat center;
    background-size: 100% 100%;
}
.wrap.qy .bgBtm {
    height: 0.5rem;
    background: #FEE8D3 url(../img/qy_bottom.png) no-repeat center;
    background-size: 100% 100%;
}
.wrap.ry .bgTop {
    height: 0.5rem;
    background: #FEFFFA url(../img/ry_top.png) no-repeat center;
    background-size: 100% 100%;
}
.wrap.ry .bgBtm {
    height: 0.5rem;
    background: #FEFFFA url(../img/ry_bottom.png) no-repeat center;
    background-size: 100% 100%;
}
.midDiv {
    padding-bottom: 1rem;
    position: relative;
}
.wrap.qy .midDiv {
    background-color: #FEE8D3;
}
.wrap.ry .midDiv {
    background-color: #FEFFFA;
}
.midDiv .leftLine {
    width: 0.13rem;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.qy .midDiv .leftLine {
    background: url(../img/qy_mid_left.png) repeat center;
    background-size: 100% auto;
}
.ry .midDiv .leftLine {
    background: url(../img/ry_mid.png) repeat-y left;
    background-size: 0.03rem auto;
}
.midDiv .rightLine {
    width: 0.13rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.qy .midDiv .rightLine {
    background: url(../img/qy_mid_right.png) repeat center;
    background-size: 100% auto;
}
.ry .midDiv .rightLine {
    background: url(../img/ry_mid.png) repeat-y right;
    background-size: 0.03rem auto;
}
.title {
    font-size: 0.16rem;
    text-align: center;
    font-weight: 700;
    line-height: 0.22rem;
    padding: 0 0.5rem 0.3rem;
}
.content .item {
    font-size: 0.15rem;
    line-height: 0.2rem;
    margin: 0.1rem 0.2rem;
}
.content .item.fzjg {
    position: absolute;
    left: 0.9rem;
    bottom: 0.42rem;
}
.content .item.fzrq {
    position: absolute;
    left: 0.9rem;
    bottom: 0.1rem;
}
.content .item p {
    float: left;
}
.content .item p:nth-child(odd){
    /*width: 0.8rem;*/
    min-height: 0.2rem;
}
.content .item p:nth-child(even){
    max-width: 2.2rem;
    min-height: 0.2rem;
}
.content.ry .item p:nth-child(even){
    max-width: 2.2rem;
    min-height: 0.2rem;
}
.content .item p .zw {
    color: transparent;
    opacity: 0;
}
.syj {
    font-weight: 700;
}
